{% extends 'admin_layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admin_main.css' %}">
{% endblock %}


{% block content %}
    <section class="content-header">
        <h1>
            数据管理
            <small>数据列表</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#">用户管理</a></li>
            <li class="active">用户列表</li>
        </ol>
    </section>
    <!-- 内容头部 /-->

    <!-- 正文区域 -->
    <section class="content">

        <!-- .box-body -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">列表</h3>
            </div>

            <div class="box-body">

                <!-- 数据表格 -->
                <div class="table-box">

                    <!--工具栏-->
                    <div class="pull-left">
                        <div class="form-group form-inline">
                            <div class="btn-group">

                                <a type="button" class="btn btn-default" href="/admin/main/" title="刷新"><i
                                        class="fa fa-refresh"></i> 刷新
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="box-tools pull-right">

                        <div class="has-feedback">
                            <input type="text" style="float: right" class="form-control input-sm" id="content"
                                   placeholder="{{ souid|default:"搜索id" }}">
                            <button class="btn btn-success " onclick="handlesearch()"
                                    style="float: block;position: absolute;right: 0;bottom: -30px;height: 30px"><span
                                    class="glyphicon glyphicon-search "></span></button>
                        </div>

                    </div>
                    {#                        <div class="box-tools pull-right">#}
                    {#                            <div class="has-feedback" style="float: right" >#}
                    {#                                <input type="text" class="form-control input-sm" id="search" placeholder="搜索">#}
                    {#                                <span class="input-group-btn">#}
                    {#                                    <button class="btn btn-success" onclick="handlesearch()" type="button">#}
                    {#                                        <span class="glyphicon glyphicon-search"></span>#}
                    {#                                    </button>#}
                    {#                                </span>#}
                    {#                            </div>#}
                    {#                        </div>#}

                    <!--工具栏/-->

                    <!--数据列表-->
                    <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                        <tr>
                            <th class="" style="padding-right:0px;">
                                <input id="selall" type="checkbox" class="icheckbox_square-blue">
                            </th>
                            <th class="sorting_asc">ID</th>
                            <th class="sorting_asc">用户名</th>
                            <th class="sorting_desc">Name</th>
                            <th class="sorting_asc sorting_asc_disabled">Avatar</th>
                            <th class="sorting_desc sorting_desc_disabled">Phone</th>
                            <th class="text-center sorting">Gender</th>
                            <th class="text-center">Age</th>
                            <th class="text-center">Balance</th>
                            <th class="text-center">Operation</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user_info in user_infos %}
                            <tr>
                                <td><input name="ids" type="checkbox"></td>
                                <td class="user-list-center">{{ user_info.id }}</td>
                                <td class="user-list-center">{{ user_info.user.get_username }}</td>
                                <td class="user-list-center">{{ user_info.name }}</td>
                                <td>
                                    <img src="{{ user_info.avatar|default:"default-avatar.png" }}"
                                         style="width: 20px;height: 20px;border-radius: 50%;display: block; margin: 0 auto;"></img>
                                <td class="user-list-center">{{ user_info.phone }}</td>
                                <td class="user-list-center">{{ user_info.get_gender_display }}</td>
                                <td class="user-list-center">{{ user_info.age }}</td>
                                <td class="user-list-center">{{ user_info.balance }}</td>
                                <td class="text-center">
                                    <button type="button" class="btn bg-olive btn-xs" data-toggle="modal"
                                            data-target="#xiugai{{ user_info.id }}">修改
                                    </button>
                                    <a type="button" class="btn bg-olive btn-xs"
                                       href="/admin/user/delete/?nid={{ user_info.id }}">删除</a>
                                    <!-- Button trigger modal -->


                                    <!-- Modal -->
                                    <div class="modal fade" id="xiugai{{ user_info.id }}" tabindex="-1"
                                         role="dialog"
                                         aria-labelledby="exampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">修改信息</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="login-box">

                                                        <!-- /.login-logo -->
                                                        <div class="login-box-body">
                                                            <p class="login-box-msg">登录系统</p>

                                                            <form id="modifyinfo{{ user_info.id }}" method="post">
                                                                {% csrf_token %}
                                                                <div class="form-group has-feedback">
                                                                    {#                                                                        <input type="hidden" id="userid"#}
                                                                    {#                                                                                   class="form-control"#}
                                                                    {#                                                                                   value="{{ user_info.id }}">#}
                                                                    用户名：<input type="text" id="admin-login-username"
                                                                               class="form-control"
                                                                               value="{{ user_info.user.get_username }}"
                                                                               readonly>
                                                                    <span class="glyphicon glyphicon-envelope form-control-feedback user-icon"></span>
                                                                </div>
                                                                <div class="form-group has-feedback">

                                                                    余额：<input type="text"
                                                                              id="userbalance{{ user_info.id }}"
                                                                              class="form-control"
                                                                              value="{{ user_info.balance }}"
                                                                              required>
                                                                    <span class="glyphicon glyphicon-lock form-control-feedback user-icon"></span>
                                                                </div>
                                                                <div class="row">
                                                                    <!-- /.col -->
                                                                    <div class="col-xs-4">
                                                                        <button type="button"
                                                                                class="btn btn-primary btn-block btn-flat"
                                                                                onclick="handlemodifyinfo({{ user_info.id }})">
                                                                            管理员确认
                                                                        </button>
                                                                    </div>
                                                                    <!-- /.col -->
                                                                </div>
                                                            </form>

                                                            <!-- /.social-auth-links -->

                                                            {#            <a href="#">忘记密码</a><br>#}
                                                            {#            <a href="all-admin-register.html" class="text-center">新用户注册</a>#}

                                                        </div>
                                                        <!-- /.login-box-body -->
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" class="btn btn-primary">Save changes
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                    <!--数据列表/-->

                    <!--工具栏-->

                    <!--工具栏/-->

                </div>
                <!-- 数据表格 /-->


            </div>
            <!-- /.box-body -->

            <!-- .box-footer-->
            <div class="box-footer">
                <div class="pull-left">
                    <div class="form-group form-inline">
                        总共
                        {% widthratio len_user_infos 5 1 %}
                        页，共{{ len_user_infos }}条数据。 每页5条
                    </div>
                </div>

                <div class="box-tools pull-right">
                    <ul class="pagination">
                        <li>
                            <a href="/admin/main/?page=1" aria-label="Previous">首页</a>
                        </li>
                        <li><a href="/admin/main/?page={{ page_number|add:-1 }}">上一页</a></li>
                        <li><a href="/admin/main/?page=1">1</a></li>
                        <li><a href="/admin/main/?page=2">2</a></li>
                        <li><a href="/admin/main/?page=3">3</a></li>
                        <li><a href="/admin/main/?page=4">4</a></li>
                        <li><a href="/admin/main/?page=5">5</a></li>
                        <li><a href="/admin/main/?page={{ page_number|add:1 }}">下一页</a></li>
                        <li>
                            <a href="/admin/main/?page={{ last_page }}" aria-label="Next">尾页</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.box-footer-->


        </div>

    </section>
{% endblock %}