<ul class="user-items-list-carousel__slides" style="grid-gap: 20px;">

                                                <li class="user-items-list-carousel__slide list-item"
                                                    style=""
                                                    data-is-card-enabled="false">

                                                    <div class="user-items-list-carousel__media-container"
                                                         style="
                                                        margin-bottom: 6%;
                                                        width: 100%;">
                                                        <div class="user-items-list-carousel__media-inner"
                                                             data-media-aspect-ratio="1:1"
                                                             data-animation-role="image">
                                                            <img data-image-focal-point=","
                                                                 src="{% static 'img/photo1.png %}"
                                                                    data-image-dimensions="512x512"
                                                                    data-image-focal-point="0.5,0.5"
                                                                    alt="150224-min.jpg"
                                                                    class="user-items-list-carousel__media"
                                                                    data-load="false"
                                                                    data-mode="cover"
                                                                    data-use-advanced-positioning="true"/>
                                                        </div>
                                                    </div>


                                                    <div class="list-item-content">
                                                        <div class="list-item-content__text-wrapper">
                                                            <h2 class="list-item-content__title"
                                                                    style="max-width: 75%;"
                                                            >Deliberate</h2>
                                                        </div>
                                                    </div>
                                                </li>


                                                <li class="user-items-list-carousel__slide list-item"
                                                    style=""
                                                    data-is-card-enabled="false">


                                                    <div class="user-items-list-carousel__media-container"
                                                         style="
                                                        margin-bottom: 6%;
                                                        width: 100%;
                                                      ">
                                                        <div class="user-items-list-carousel__media-inner"
                                                             data-media-aspect-ratio="1:1"
                                                             data-animation-role="image">
                                                            <img data-image-focal-point=","
                                                                    alt="https://civitai.com/models/6424/chilloutmix"
                                                                    data-src="https://images.squarespace-cdn.com/content/v1/6411cba29f7f4b4a7e9609c8/e5b16d00-df13-4746-9cbe-116d7e985292/257417-min.jpg"
                                                                    data-image="https://images.squarespace-cdn.com/content/v1/6411cba29f7f4b4a7e9609c8/e5b16d00-df13-4746-9cbe-116d7e985292/257417-min.jpg"
                                                                    data-image-dimensions="512x512"
                                                                    data-image-focal-point="0.5,0.5"
                                                                    alt="257417-min.jpg"
                                                                    class="user-items-list-carousel__media"
                                                                    data-load="false"
                                                                    data-mode="cover"
                                                                    data-use-advanced-positioning="true"/>
                                                        </div>
                                                    </div>


                                                    <div class="list-item-content">

                                                        <div class="list-item-content__text-wrapper">

                                                            <h2 class="list-item-content__title"
                                                                    style="max-width: 75%;"
                                                            >ChilloutMix</h2>
                                                        </div>
                                                    </div>
                                                </li>


                                                <li class="
                                                    user-items-list-carousel__slide list-item"
                                                    style=""
                                                    data-is-card-enabled="false">


                                                    <div class="user-items-list-carousel__media-container"
                                                         style="
                                                            margin-bottom: 6%;
                                                            width: 100%;
                                                          ">
                                                        <div class="user-items-list-carousel__media-inner"
                                                             data-media-aspect-ratio="1:1"
                                                             data-animation-role="image">
                                                            <img data-image-focal-point=","

                                                                    alt="https://civitai.com/models/8281/perfect-world"
                                                                    data-src="https://images.squarespace-cdn.com/content/v1/6411cba29f7f4b4a7e9609c8/208fa907-5681-4ba8-8700-2cd9abc6a256/250180-min.jpg"
                                                                    data-image="https://images.squarespace-cdn.com/content/v1/6411cba29f7f4b4a7e9609c8/208fa907-5681-4ba8-8700-2cd9abc6a256/250180-min.jpg"
                                                                    data-image-dimensions="512x512"
                                                                    data-image-focal-point="0.5,0.5"
                                                                    alt="250180-min.jpg"
                                                                    class="user-items-list-carousel__media"
                                                                    data-load="false"
                                                                    data-mode="cover"
                                                                    data-use-advanced-positioning="true"/>
                                                        </div>
                                                    </div>


                                                    <div class="list-item-content">


                                                        <div class="list-item-content__text-wrapper">


                                                            <h2 class="list-item-content__title"
                                                                    style="max-width: 75%;"
                                                            >Perfect World</h2>

                                                        </div>

                                                    </div>
                                                </li>

                                                <li class="
                                                user-items-list-carousel__slide list-item"
                                                    style=""
                                                    data-is-card-enabled="false">

                                                    <div class="user-items-list-carousel__media-container"
                                                         style="margin-bottom: 6%;
                                                            width: 100%;
                                                          ">
                                                        <div class="user-items-list-carousel__media-inner"
                                                             data-media-aspect-ratio="1:1"
                                                             data-animation-role="image">
                                                            <img data-image-focal-point=","

                                                                    alt="https://civitai.com/models/4201/realistic-vision-v13-fantasyai"
                                                                    data-src="https://images.squarespace-cdn.com/content/v1/6411cba29f7f4b4a7e9609c8/6b3f97c9-e8de-4cd3-9b2c-7dcc5357e2b1/10-min.jpg"
                                                                    data-image="https://images.squarespace-cdn.com/content/v1/6411cba29f7f4b4a7e9609c8/6b3f97c9-e8de-4cd3-9b2c-7dcc5357e2b1/10-min.jpg"
                                                                    data-image-dimensions="512x512"
                                                                    data-image-focal-point="0.5,0.5" alt="10-min.jpg"
                                                                    class="user-items-list-carousel__media"
                                                                    data-load="false"
                                                                    data-mode="cover"
                                                                    data-use-advanced-positioning="true"
                                                            />
                                                        </div>
                                                    </div>


                                                    <div class="list-item-content">

                                                        <div class="list-item-content__text-wrapper">

                                                            <h2 class="list-item-content__title"
                                                                    style="max-width: 75%;"
                                                            >Realistic Vision</h2>
                                                        </div>

                                                    </div>
                                                </li>

                                                <li class="user-items-list-carousel__slide list-item"
                                                    style=""
                                                    data-is-card-enabled="false">

                                                    <div class="user-items-list-carousel__media-container"
                                                         style="
                                                            margin-bottom: 6%;
                                                            width: 100%;
                                                          ">
                                                        <div class="user-items-list-carousel__media-inner"
                                                             data-media-aspect-ratio="1:1"
                                                             data-animation-role="image">
                                                            <img data-image-focal-point=","
                                                                    alt="https://civitai.com/models/4384/dreamshaper"
                                                                    data-src="https://images.squarespace-cdn.com/content/v1/6411cba29f7f4b4a7e9609c8/8414ce8c-8f68-4f0d-834a-d93a76e840d4/10402-132340227-Prompt_+Style-Empire%2C+8k+portrait+of+beautiful+young+woman+with+brown+hair%2C+intricate%2C+elegant%2C+highly+detailed%2C+majestic%2C+digit_2+-+Copia-min.jpg"
                                                                    data-image="https://images.squarespace-cdn.com/content/v1/6411cba29f7f4b4a7e9609c8/8414ce8c-8f68-4f0d-834a-d93a76e840d4/10402-132340227-Prompt_+Style-Empire%2C+8k+portrait+of+beautiful+young+woman+with+brown+hair%2C+intricate%2C+elegant%2C+highly+detailed%2C+majestic%2C+digit_2+-+Copia-min.jpg"
                                                                    data-image-dimensions="512x512"
                                                                    data-image-focal-point="0.5,0.5"
                                                                    alt="10402-132340227-Prompt_ Style-Empire, 8k portrait of beautiful young woman with brown hair, intricate, elegant, highly detailed, majestic, digit_2 - Copia-min.jpg"
                                                                    class="user-items-list-carousel__media"
                                                                    data-load="false"
                                                                    data-mode="cover"
                                                                    data-use-advanced-positioning="true"/>
                                                        </div>
                                                    </div>


                                                    <div class="list-item-content">

                                                        <div class="list-item-content__text-wrapper">
                                                            <h2 class="list-item-content__title"
                                                                    style="max-width: 75%;"
                                                            >DreamShaper</h2>
                                                        </div>

                                                    </div>
                                                </li>


                                                <li class="
                                                     user-items-list-carousel__slide list-item"
                                                    style=""
                                                    data-is-card-enabled="false">

                                                    <div class="user-items-list-carousel__media-container"
                                                         style="
                                                        margin-bottom: 6%;
                                                        width: 100%;
                                                      ">
                                                        <div class="user-items-list-carousel__media-inner"
                                                             data-media-aspect-ratio="1:1"
                                                             data-animation-role="image">
                                                            <img data-image-focal-point=","
                                                                    alt="https://civitai.com/models/1116/rpg"
                                                                    data-src="https://images.squarespace-cdn.com/content/v1/6411cba29f7f4b4a7e9609c8/babda504-8133-4932-9c82-b2aba70870dc/234899-min.jpg"
                                                                    data-image="https://images.squarespace-cdn.com/content/v1/6411cba29f7f4b4a7e9609c8/babda504-8133-4932-9c82-b2aba70870dc/234899-min.jpg"
                                                                    data-image-dimensions="512x512"
                                                                    data-image-focal-point="0.5,0.5"
                                                                    alt="234899-min.jpg"
                                                                    class="user-items-list-carousel__media"
                                                                    data-load="false"
                                                                    data-mode="cover"
                                                                    data-use-advanced-positioning="true"/>
                                                        </div>
                                                    </div>


                                                    <div class="list-item-content">
                                                        <div class="list-item-content__text-wrapper">
                                                            <h2 class="list-item-content__title"
                                                                    style="max-width: 75%;"
                                                            >RPG</h2>
                                                        </div>


                                                    </div>
                                                </li>

                                            </ul>