<!DOCTYPE html>
{% load static %}
<html lang="zh">
<head>
    <title>User Add</title>
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_add.css' %}">
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
</head>
<body>
<!-- 显示消息 -->
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-7 left-side">
            <div>
                <div class="animated-text">Build The World:</div>
                <div class="animated-text" style="animation-delay: 2.5s;">technology changes life</div>
            </div>
        </div>


        <!-- 登录/注册按钮 -->
        <div class="col-5 right-side">
            <h3 class="text-row">Get started</h3>
            <div>
                <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#loginModal">登录</button>
                <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#registerModal">注册
                </button>
            </div>

            <!-- 登录模态框 -->
            <div class="modal" id="loginModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">登录</h5>
                            <a type="button" class="btn-close" data-dismiss="modal"></a>

                        </div>
                        <div class="modal-body">
                            <div class="welcome-text">Welcome back</div>
                            <div class="form-group row ">
                                <div class="col-sm-5" style="margin: 0 auto">
                                    <button type="button" class="btn btn-link " onclick="showLoginForm()">用户名登录
                                    </button>

                                </div>

                                <div class="col-sm-5" style="margin: 0 auto">
                                    <button type="button" class="btn btn-link " onclick="showPhoneForm()">手机号登录
                                    </button>

                                </div>
                            </div>


                            <!-- 用户名登录表单 -->
                            <div id="login-form" style="display:none;">
                                <form id="username-login-form" method="post" enctype="multipart/form-data"
                                      class="needs-validation form-horizontal">
                                    {% csrf_token %}
                                    {#                                    <div class="form-group" style="margin-top: 20px">#}
                                    {#                                        <div class="col-sm-2">用户名:</div>#}
                                    {#                                        <input type="text" class="form-control " id="login-username"#}
                                    {#                                               name="login-username" required>#}
                                    {#                                        <div class="invalid-feedback">#}
                                    {#                                            请输入用户名。#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    {#                                    <div class="form-group">#}
                                    {#                                        <label for="login-passwd">密码:</label>#}
                                    {#                                        <input type="password" class="form-control" id="login-passwd"#}
                                    {#                                               name="login-passwd"#}
                                    {#                                               required>#}
                                    {#                                        <div class="invalid-feedback">#}
                                    {#                                            请输入密码。#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    <div class="form-group row" style="margin-top: 20px">
                                        <label for="login-username" class="col-sm-3 col-form-label">用户名:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="login-username"
                                                   name="login-username" required>
                                            <div class="invalid-feedback">
                                                请输入用户名。
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="login-passwd" class="col-sm-3 col-form-label">密码:</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" id="login-passwd"
                                                   name="login-passwd" required>
                                            <div class="invalid-feedback">
                                                请输入密码。
                                            </div>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-custom " onclick="handleUsernameLogin()">登录
                                    </button>
                                </form>
                            </div>


                            <!-- 手机号登录表单 -->
                            <div id="phone-form" style="display:none;">
                                {#                                <form id="phone-login-form" method="post" action="/user/add/"#}
                                {#                                      enctype="multipart/form-data" class="needs-validation">#}
                                {#                                    {% csrf_token %}#}
                                {#                                    <div class="form-group">#}
                                {#                                        <label for="login-phone">手机号:</label>#}
                                {#                                        <input type="text" class="form-control" id="login-phone" name="login-phone"#}
                                {#                                               required>#}
                                {#                                        <div class="invalid-feedback">#}
                                {#                                            请输入手机号。#}
                                {#                                        </div>#}
                                {#                                    </div>#}
                                {#                                    <div class="form-group">#}
                                {#                                        <label for="login-code">验证码:</label>#}
                                {#                                        <input type="text" class="form-control" id="login-code" name="login-code"#}
                                {#                                               required>#}
                                {#                                        <div class="invalid-feedback">#}
                                {#                                            请输入验证码。#}
                                {#                                        </div>#}
                                {#                                        <button type="button" class="btn btn-custom" id="get-code"#}
                                {#                                                onclick="sendCode()">获取验证码#}
                                {#                                        </button>#}
                                {#                                    </div>#}
                                {#                                    <button type="button" class="btn btn-custom" onclick="handlePhoneLogin()">登录#}
                                {#                                    </button>#}
                                {#                                </form>#}
                                <form id="phone-login-form" method="post" action="/user/add/"
                                      enctype="multipart/form-data" class="needs-validation">
                                    {% csrf_token %}

                                    <div class="form-group row" style="margin-top: 20px">
                                        <label for="login-phone" class="col-sm-3 col-form-label">手机号:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="login-phone" name="login-phone"
                                                   required>
                                            <div class="invalid-feedback">
                                                请输入手机号。
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="login-code" class="col-sm-3 col-form-label">验证码:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control " id="login-code" name="login-code"
                                                   required>
                                            <div class="invalid-feedback">
                                                请输入验证码。
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group row">

                                        <div class="col-sm-5" style="margin: 0 auto ">
                                            <button type="button" class="btn btn-custom " id="get-code"
                                                    onclick="sendCode()">获取验证码
                                            </button>
                                        </div>

                                        <div class="col-sm-5" style="margin: 0 auto">
                                            <button type="button" class="btn btn-custom " onclick="handlePhoneLogin()">
                                                登录
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>


                        </div>
                    </div>
                </div>
            </div>


            <!-- 注册模态框 -->
            <div class="modal" id="registerModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">注册</h5>
                            <a type="button" class="btn-close" data-dismiss="modal"></a>
                        </div>
                        <div class="modal-body">
                            <form id="register-form" method="post" action="/user/add/" enctype="multipart/form-data"
                                  class="needs-validation">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="username" class="col-sm-3 clss3">用户名:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control " id="username" name="username"
                                               required>
                                        <div class="invalid-feedback">
                                            请输入用户名。
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-sm-3 clss3">密码:</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control " id="password" name="password"
                                               required>
                                        <div class="invalid-feedback">
                                            请输入密码。
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="phone" class="col-sm-3 clss3">手机号:</label>
                                    <div class="col-sm-9">
                                        <span for="register-phone" style="line-height: 0"></span><input type="text"
                                                                                   class="form-control "
                                                                                   id="register-phone"
                                                                                   name="register-phone"
                                                                                   required>
                                        <div class="invalid-feedback">
                                            请输入手机号。
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div for="code" class="col-sm-3 clss3" >验证码:</div>

                                    <div class="col-sm-9" style="line-height: 0">
                                        <label id="code-error" class="error-message" style="line-height: 0"></label>
                                        <label for="register-code" style="line-height: 0"></label>
                                        <input type="text" class="form-control " id="register-code" name="register-code" required>
                                        <span class="invalid-feedback">
                                            请输入验证码。
                                        </span>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <button type="button" class="btn btn-custom flex-grow-1 " id="get-code-reg"
                                            onclick="sendCodeReg()">获取验证码
                                    </button>
                                    <button type="button" class="btn btn-custom flex-grow-1 "
                                            onclick="handleRegistration()">注册
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<!-- 引入 Bootstrap JS 和依赖 -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/user_add.js' %}"></script>
</body>
</html>
